* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/public/images/wolt\ screenshot.png");
  background-size: cover;
  background-blend-mode: darken;
}

.watermark {
  color: rgb(133, 133, 133);
  text-align: center;
  font-size: 0.75rem;
}
